[Unit]
Description=CameraAutoRecord
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3.9 /home/pi(OpenVision)/scripts/AutoRecord.py
Restart=on-failure
Environment="PYTHONPATH=/home/pi(OpenVision)/.local/lib/python3.9/site-packages"

[Install]
WantedBy=multi-user.target
