[Unit]
Description=Shutdown pi when not in use
After=mulit-user.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 300
ExecStart=/usr/bin/python3.9 /home/pi(OpenVision)/scripts/AutoShutdown.py
Restart=on-failure
Environment="PYTHONPATH=/home/OpenVision/.local/lib/python3.9/site-packages"

[Install]
WantedBy=multi-user.target
