[Unit]
Description=CameraAutoRecord
After=multi-user.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 300
ExecStart=/usr/bin/python3.9 /home/pi/scripts/AutoRecord.py
Restart=on-failure
Environment="PYTHONPATH=/home/pi/.local/lib/python3.9/site-packages"

[Install]
WantedBy=multi-user.target
